body {
        font-family: Arial, sans-serif;
        text-align: center;
        color: green;
    }
.pyramid {
        display: inline-block;
        margin-top: 20px;
        text-align: center;
    }
button {
            margin-bottom: 20px;
            padding: 10px 20px;
            background-color: #greenyellow;
            color: #grey;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }