body {
    font-family: Arial, sans-serif;
    background-color: #d4d4d4; /* Nuevo color de fondo */
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #2e8b57; /* Nuevo color del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #228b22; /* Nuevo color al pasar el ratón por encima del botón */
}

#datos {
    margin-top: 20px;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 5px;
}
